# NextCloud Settings...
NEXT_CLOUD_API_URL="https://nextcloud.example.com"
NEXT_CLOUD_WEBDAV_API='remote.php/dav'

# BBB Settings...
BBB_SERVER='bbb-server.example.com'

# API Settings...
API_NAME="BBB Recording"
API_HOST=localhost
API_PORT=8000
API_SECURE=false

# JWT Settings...
JWT_SECRET_KEY=my_secret
JWT_ALGORITHM='HS256'

# Email Settings...
EMAIL_SMTP_SERVER="correo.example.com"
EMAIL_SMTP_PORT=587
EMAIL_SENDER_EMAIL="some_mail@example.co"
EMAIL_SENDER_PASSWORD="password"

# App Settings...
ENVIRONMENT_NAME=development
DOWNLOAD_SERVER="https://download-server.example.com"

ACCESS_TOKEN_EXPIRE_MINUTES = 30
